.html .body {
    height: 100vh;
}

body {
    background-image: url(./img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: darkcyan;
}

.counterBox {
    margin: 13em 5em 10em 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftBox {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #BF0AA1;
    font-size: 2.5em;
    text-shadow: 2px 2px rgb(201, 199, 199);
    font-family: 'Permanent Marker', cursive;
}

.counterNumber {
    color: #D91136;
    font-size: 7em;
    border-radius: 100% 20%;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-family: 'Permanent Marker', cursive;
}

.buttons {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.button1 {
    margin: 1em;
    padding: 20px 20px;
    border-radius: 50%;
    border-color: #1821D9;
    color: #1821D9;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-family: 'Permanent Marker', cursive;
}

.button2 {
    margin: 1em;
    padding: 20px 20px;
    border-radius: 50%;
    border-color: #29A632;
    color: #29A632;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-family: 'Permanent Marker', cursive;
}

.button3 {
    margin: 1em;
    padding: 20px 20px;
    border-radius: 50%;
    border-color: #F2BB13;
    color: #F2BB13;
        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-family: 'Permanent Marker', cursive;
}

/*Responsive Media Queries*/
    @media (max-width: 667px) {
        body {
            background-image: url(./img/background.jpg);
            color: #FFF;
        }
        .title {
            color: #BF0AA1;
            font-size: 1em;
            text-shadow: 2px 2px rgb(201, 199, 199);
            font-family: 'Permanent Marker', cursive;
        }
    }

    @media (min-width: 700px) {
        body {
             background-image: url(./img/background.jpg);
             color: #FFF;
         }

         .title {
            color: #BF0AA1;
            font-size: 2em;
            text-shadow: 2px 2px rgb(201, 199, 199);
            font-family: 'Permanent Marker', cursive;
        }

        .button1 {
            padding: 30px;
        }

        .button2 {
            padding: 30px;
        }
        .button3 {
            padding: 30px;
        }
        }
    
    @media (min-width: 930px) {
        body {
            background-image: url(./img/background.jpg);
            color: #FFF;
        }

        .counterBox {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .title {
            color: #BF0AA1;
            font-size: 2em;
            text-shadow: 2px 2px rgb(201, 199, 199);
            font-family: 'Permanent Marker', cursive;
        }

        .counterNumber {
            color: #D91136;
            font-size: 7em;
            border-radius: 100% 20%;
            padding: 20px;
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
            font-family: 'Permanent Marker', cursive;
        }

        .button1 {
            padding: 30px;
            font-size: 20px;
        }

        .button2 {
            padding: 30px;
            font-size: 20px;
        }
        .button3 {
            padding: 30px;
            font-size: 20px;
        }
    }

